{% extends "base.html" %}

{% block content %}
<div class="documentation__content">
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>
  {{ page.content | safe }}
</div>
{% endblock content %}

{% block script %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
<script id="MathJax-script" async 
  src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js">
</script>
{% endblock script %}

{% block extra_content_class %} content--reversed{% endblock extra_content_class %}